<template>
  <h1>Clientes</h1>
  <table class="c-table c-table--striped">
    <caption class="c-table__caption">Basic table</caption>
    <thead class="c-table__head">
      <tr class="c-table__row c-table__row--heading">
        <th class="c-table__cell">Nombre</th>
        <th class="c-table__cell">Teléfonos</th>
        <th class="c-table__cell">Domicilio</th>
        <th class="c-table__cell">Observaciones</th>
      </tr>
    </thead>
    <tbody class="c-table__body">
      <tr class="c-table__row" repeat.for="cliente of clientes">
        <td class="c-table__cell">${cliente.nombre}</td>
      </tr>
    </tbody>
  </table>
</template>
