<template>
Home

<div class="hide-xs">
	 hide-xs
</div>
<div class="hide-sm">
	 hide-sm
</div>
<div class="hide-md">
	 hide-md
</div>
<div class="hide-lg">
	 hide-lg
</div>
<div class="hide-xl">
	 hide-xl
</div>

</template>
