<template bindable="router,auth">
<require from="nav-bar.css"></require>
<div id="nav">
<ul class="topnav">
	<li repeat.for="r of router.navigation">
	  	<a 	class="${r.isActive?'active':''}" 
	  		href="${r.href}">${r.config.title}${r.config.href}
	  	</a>
	</li>
	<li class="right" show.bind="auth.loggedIn">
	  	<a 	class="${r.isActive?'active':''}" 
	  		href="${r.href}"
	  		click.delegate="auth.logout()">
	  		Salir (${auth.user.nombre})
	  	</a>

	</li>
</ul>
</div>
</template>
